@import "../../vars";

.intro {
  &.light-mode {
    background-color: $light;
    color: $purple;
    transition: all 0.3s ease-in-out;

    .intro__title {
      color: $dark;
    }
    .intro__pictures {
      .picture {
        &:nth-child(1) {
          color: $purple-200;
        }

        &:nth-child(2) {
          color: $purple-200;
        }

        &:nth-child(3) {
          color: $purple;
        }

        &:nth-child(4) {
          color: lighten($color: $purple-200, $amount: 30);
        }

        &:nth-child(5) {
          color: $dark;
        }
      }
    }
  }

  &__inner {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .intro__text-box,
  .intro__pictures {
    flex: 0 1 50%;
  }

  &__title {
    font-family: "eUkraineLOGO";
    font-size: 60px;
    color: $purple;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
    }
  }

  &__description {
    font-size: 30px;
    line-height: 1.3;
  }

  &__pictures {
    position: relative;
    width: 100%;
    height: 100%;

    .picture {
      font-size: 120px;
      position: absolute;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        translate: 0 -20px;
      }

      &:active {
        scale: 0.9;
      }

      &:nth-child(1) {
        color: $purple;
        font-size: 150px;
        top: 500px;
        left: 280px;
      }

      &:nth-child(2) {
        color: $purple;
        top: 230px;
        left: 200px;
      }

      &:nth-child(3) {
        color: $purple-200;
        font-size: 220px;
        top: 400px;
        left: -80px;
      }

      &:nth-child(4) {
        color: lighten($color: $purple-200, $amount: 30);
        top: 320px;
        left: 380px;
      }

      &:nth-child(5) {
        color: $light;
        font-size: 130px;
        top: 370px;
        left: 180px;
      }
    }
  }
}
