@import "../../vars";

.menu-btn {
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    scale: 1.2;
  }

  &:active {
    scale: 0.8;
  }
}

.menu-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-200%);
  width: 400px;
  height: 100vh;
  padding: 15px 15px 15px 30px;
  background: $purple;
  transition: all 0.3s ease-in-out;

  &.light-mode {
    a {
      color: $dark;

      &.active {
        color: $light;
      }
    }
  }

  &.menu-open {
    transform: translateX(0);
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
  }

  &__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    a {
      color: $light;
      &.active {
        transform: translateX(15px);
        color: $dark;
      }
    }

    &:hover {
      a {
        transform: translateX(15px);
        color: $dark;
      }
    }

    &:active {
      a {
        transform: translateX(0);
        scale: 0.9;
      }
    }
  }
}
