@import "../../vars";

$container-width: 1000px;
$container-height: 700px;
$section-count: 5;
$element-count: 8;

@for $section from 1 through $section-count {
  .hobbies {
    > :nth-child(#{$section}) {
      @for $i from 2 through $element-count {
        .hobby__icon-box {
          :nth-child(#{$i}) {
            position: absolute;
            top: random($container-height) + px;
            left: random($container-width) + px;
            opacity: random();
          }
        }
      }
    }
  }
}

.hobby {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &.reverse {
    text-align: right;

    .hobby__icon-box {
      left: 0;
    }
  }

  &.light-mode {
    background-color: $light;
    color: $dark;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text-box {
    position: relative;
    z-index: $z3;
    text-align: center;
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 70%;
    }
    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }

  &__icon-box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    color: $purple;
    z-index: $z1;

    .big-icon {
      font-size: 600px;
      opacity: 0.2;

      @media screen and (max-width: 768px) {
        font-size: 500px;
      }

      @media screen and (max-width: 425px) {
        font-size: 400px;
      }

      @media screen and (max-width: 375px) {
        font-size: 300px;
      }
    }
    .icon {
      position: absolute;
      font-size: 100px;
      opacity: 0.2;
    }
  }
}
