@import "../../vars";

.description {
  font-size: 20px;
  text-align: left;
  padding: 10px;
  background-color: rgba($color: $dark, $alpha: 0.7);
  border-radius: 10px;

  :nth-child(n) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  ol,
  ul {
    padding-left: 35px;

    @media screen and (max-width: 768px) {
      padding-left: 30px;
    }
  }
}
