@import "../../vars";

.header {
  width: 100vw;
  position: fixed;
  z-index: $z6;
  background-color: $dark;
  box-shadow: 9px 15px 45px -18px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;

  &.light-mode {
    background-color: $light;
    color: $dark;
    box-shadow: 9px 15px 45px -18px rgba(0, 0, 0, 0.1);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    @media screen and (max-width: 768px) {
      padding: 5px;
    }
  }

  &__logo {
    cursor: pointer;

    @media screen and (max-width: 768px) {
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
}
