@import "../../vars";

.footer {
  background-color: $accent-color;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 29px 0 10px;
    font-weight: 300;
  }

  .copyright {
    color: $dark;
    text-transform: capitalize;

    a {
      color: $light;

      &:hover {
        color: darken($color: $light, $amount: 30);
      }
    }

    .hidden {
      opacity: 0;
    }
  }
}
