@import "vars";

:root {
  font-family: "eUkraine", sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: $light;
  background-color: $dark;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $dark;
}

::-webkit-scrollbar-thumb {
  background-color: $purple;
  border-radius: 5px;
}

::selection {
  color: $dark;
  background-color: $purple;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }
}

a {
  transition: all 0.2s ease-in-out;
  color: $purple-200;
  &:hover {
    color: lighten($color: $purple-200, $amount: 30);
  }
}

.hi-anim {
  animation: hi 1s ease-in-out 2;

  @keyframes hi {
    0% {
      rotate: 0deg;
      transform-origin: bottom;
    }
    50% {
      rotate: 45deg;
      transform-origin: bottom;
    }
    100% {
      rotate: 0deg;
      transform-origin: bottom;
    }
  }
}

.help-text {
  font-size: 14px;
  font-weight: 100;

  animation: help-anim 2s infinite alternate;
  color: $purple;

  @keyframes help-anim {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.9;
    }
  }
}
