@import "vars";

:root {
  font-family: "eUkraine", sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: $light;
  background-color: $dark;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }
}

a {
  transition: all 0.2s ease-in-out;
  color: $accent-color;
}
